.topnav {
    background-color: rgba(64,0,128,128);   
    overflow: hidden;
}
@keyframes navhoveron {
    0%  {font-size: 16px;}
    100%    {font-size: 18px;}
}
@keyframes navhoveroff {
    0%  {font-size: 18px;}
    100%    {font-size: 16px;}
}
.topnav a {
    float: right;
    color: rgb(255,255,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    animation-name: navhoveroff;
    animation-duration: 0.25s;
}
.topnav a:hover {
    animation-name: navhoveron;
    animation-duration: 0.25s;
}
.topnav a.active {
    font-weight: 500;
}
.sociallink {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    animation-name: socialhoveroff;
    animation-duration: 0.25s;
}
@keyframes socialhoveron {
    0%  {width: 50px; height: 50px;}
    100%    {width: 60px; height: 60px;}
}
@keyframes socialhoveroff {
    0%  {width: 60px; height: 60px;}
    100%    {width: 50px; height: 50px;}
}
.sociallink:hover {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    animation-name: hoveron;
    animation-duration: 0.25s;
}
.sociallinkcontainer {
    height: 70px;
    text-align: center;
}
#pagebanner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
body {
    background-color: rgb(64,0,128);
}
h1 {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 1000;
    font-size: 80px;
}
h2 {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 1000;
    font-size: 40px;
}
p {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 500;
    font-size: 40px;
}
